name: 'Deploy'
description: 'Deploy application using Shopify CLI'

inputs:
  token:
    description: 'Shopify Hydrogen deployment token'
    required: true
    type: string

runs:
  using: 'composite'
  steps:
    - name: Deploy application
      shell: bash
      env:
        SHOPIFY_HYDROGEN_DEPLOYMENT_TOKEN: ${{ inputs.token }}
      run: pnpm exec shopify hydrogen deploy

